@model IEnumerable<SiteWebStore.Models.tbSubCategory>
<select class="form-control" id="IdCategory" name="IdCategory">
    @foreach (var item in Model)
    {
        <option value="@item.Id">@item.Name</option>
    }
</select>
