@model IEnumerable<SiteWebStore.Models.tbCategory>
<select class="form-control Category" id="Id" name="Id" size="9" multiple="multiple" onchange="CategorySelected();">
    @foreach (var item in Model)
    {
        <option value="@item.Id">@item.Name</option>
    }
</select>
